body {
   overflow: hidden;
   background-color: #f0f8ff;
}

header nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
nav .brand-wrapper {
   display: inherit;
}
.brand-wrapper .menu-bar {
   border: none;
   background-color: transparent;
   font-size: 18px;
}
.brand-wrapper .gmail-logo {
   width: 70px;
}

nav label {
  position: relative;  

}
nav label .fa-solid {
   position: absolute;
   width: 400px;
   bottom: 4px;
   margin-left: 15px;
}
nav label input {
   width: 600px;
   height: 50px;
   padding-left: 40px;
   background-color: #add8eb44;   
   border: none; 
   border-radius: 35px;
}
nav label input::placeholder {
   font-size: 20px;
   margin: 0 0 0 10em;
}
nav label .fa-sliders {
   position: absolute;
   left: 90%;
   top: 0px;
   font-size: 20px;
} 

nav .right-top-icons {
   display: flex;
}
nav .right-top-icons button {
   border: none;
   background-color: transparent;
   font-size: 18px;
}
nav .right-top-icons button .fa-solid,
nav .right-top-icons button .fa-regular {
   font-size: 20px; 
   margin: 0 10px; 
}

button span {
   font-size: 35px;
}