body {
   background-color: #f0f8ff;
}

header nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

/* all nav buttons when hover except menu bar */
header nav button:hover {
   background-color: #80808026;
   border-radius: 50%;
   cursor: pointer;
}
      /* Bar icon, Gmail logo and name */ 
nav .brand-wrapper {
   display: flex;
   margin-left: 10px;
}
.brand-wrapper .menu-bar {
   border: none;
   width: 60px;
   height: 60px;
   padding: 10px;
   border-radius: 50%;
   background-color: transparent;
   font-size: 18px;
}
.brand-wrapper .menu-bar:hover {
   background-color: #80808026;
}
.brand-wrapper .gmail-logo {
   display: block;
   margin: auto;
   width: 50px;
   height: 50px;
}


         /* search area */
nav label {
  position: relative;  
}
nav label .fa-solid {
   position: absolute;
   bottom: 4px;
   margin-left: 15px;
}
nav label input {
   width: 600px;
   height: 50px;
   padding-left: 40px;
   background-color: #add8eb44;   
   border: none; 
   outline: none;
   border-radius: 35px;
}
nav label input:focus {
   background-color: #fff;  
   box-shadow: 0 0 1px 1px #80808042; 
}
nav label input::placeholder {
   font-size: 20px;
   margin: 0 0 0 10em;
}
nav label .fa-sliders {
   position: absolute;
   left: 90%;
   top: 0px;
   font-size: 20px;
} 

.clear-search {
   position: absolute;
   top: 5%;
   right: 32%;
   background-color: transparent;
   border: none;
   font-size: 25px;
   visibility: hidden;
}

      /* the icons at the top right */
nav .right-top-icons {
   display: flex;
   margin-left: 20px;
   gap: 10px;
}
nav .right-top-icons button {
   border: none;
   background-color: transparent;
   font-size: 18px;
}
nav .right-top-icons button .fa-solid,
nav .right-top-icons button .fa-regular {
   font-size: 20px; 
   margin: 0 10px; 
}

button span {
   font-size: 35px;
}